body{
    margin:0;
    border:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}

b{
    display:inline;
}

h2{
    margin-left:350px;
}

.header{
    height:100px;
    background: #0a1931;
    color:white;
    display:flex;
    justify-content: center;
    align-items:center;
}

.title-section{
    height:70px;
    background:#0a1931;
    color:white;
    border-top:solid white 3px;
    display:flex;
    justify-content: space-around;
}

.title-section .inner-section1 {
    width:30%;
}

.title-section .inner-section2 {
    width:70%;
}

.subtitle-section{
    height:50px;
    background:#0a1931;
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

.section{
    height:300px;
    display: flex;
}

.subtitle-section .inner-section1{
    width:30%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.subtitle-section .inner-section2{
    width:70%;
    display: flex;
    justify-content: space-around;
}

.section .inner-section1{
    width:30%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.section .inner-section2{
    width:70%;
    display: flex;
    justify-content: space-around;
}

.div-button{
    display:flex;
    justify-content: center;
    align-items: center;
}

aside{
    width:50%;
    color:white;
    padding:30px;
    align-items: center;
    text-align: justify;
}

section h3{
    color:white;
    margin:0;
}

button{
    margin-top:10px;
    padding:10px;
    font-size:15px;
    font-family:'Open Sans', sans-serif ;
    font-weight: bold;
    color:white;
    border: solid white 3px;
    border-radius: 35px;
    background: rgba(0,0,0,0.4);
    transition:0.3s;
}

button:hover{
    color:#0a1931;
    background:white;
    cursor: pointer;
}

#section1{
    background:#185adb;
}

#section2{
    background:#ffc947;
}







