body{
    margin:0;
    border:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}

b{
    display:inline;
}

h2{
    margin-left:350px;
}

.header{
    height:100px;
    background: #0a1931;
    color:white;
    display:flex;
    justify-content: center;
    align-items:center;
}

.title-section{
    height:70px;
    background:#0a1931;
    color:white;
    border-top:solid white 3px;
    display:flex;
    justify-content: space-around;
}

.title-section .inner-section1 {
    width:30%;
}

.title-section .inner-section2 {
    width:70%;
}

.subtitle-section{
    height:50px;
    background:#0a1931;
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

.section{
    height:300px;
    display: flex;
}

.subtitle-section .inner-section1{
    width:30%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.subtitle-section .inner-section2{
    width:70%;
    display: flex;
    justify-content: space-around;
}

.section .inner-section1{
    width:30%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.section .inner-section2{
    width:70%;
    display: flex;
    justify-content: space-around;
}

.div-button{
    display:flex;
    justify-content: center;
    align-items: center;
}

aside{
    width:50%;
    color:white;
    padding:30px;
    align-items: center;
    text-align: justify;
}

section h3{
    color:white;
    margin:0;
}

footer{
    background:#0a1931;
    text-align:center;
    color:white;
    font-weight: bold;
}

button{
    margin-top:10px;
    padding:7px;
    font-size:15px;
    font-family:'Open Sans', sans-serif ;
    font-weight: bold;
    color:white;
    border: solid white 3px;
    border-radius: 35px;
    background: rgba(0,0,0,0.4);
    transition:0.3s;
}

button:hover{
    color:#0a1931;
    background:white;
    cursor: pointer;
}

#section1{
    background:#185adb;
}

#section2{
    background:#ffc947;
}


/* POP UPS */

.popup{
    width: 100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top:0;
    left: 0;
    background:rgba(0,0,0,0.8);

    opacity:0;
    visibility: hidden;
    transition: all 500ms ease;
}

.contenedor{
    width:500px;
    height:600px;
    margin:auto;
    background:#fcfcfc;
    box-shadow: 1px 7px 25px rgba(255,255,255,0.6);
    transition:all 500ms ease;
    overflow-y:scroll;
}

.contenedor header{
    font-size:20px;
    padding:10px;
    color:white;
    font-weight:bold;
    display: flex;
    justify-content: space-between;
    align-items:center
}

.contenedor .headerYellow{
    background:#ffc947;
}

.contenedor .headerBlue{
    background:#185adb;
}

.contenedor p{
    margin:15px;;
}

.contenedor header button{
    padding-left:12px;
    padding-right:12px;
}

/* ON CLICK */

.popup-onclick{
    width: 100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top:0;
    left: 0;
    background:rgba(0,0,0,0.8);

    opacity:1;
    visibility: visible;
    transition: all 500ms ease;
}









